#cloud-config
hostname: ${hostname}
manage_etc_hosts: true

users:
  - name: kubeadmin
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_public_key}

write_files:
  - path: /etc/netplan/01-static.yaml
    content: |
      network:
        version: 2
        ethernets:
          enp0s3:
            dhcp4: false
            addresses:
              - ${static_ip}/24
            gateway4: 192.168.29.1
            nameservers:
              addresses: [8.8.8.8,1.1.1.1]

runcmd:
  - netplan apply
