#cloud-config
hostname: ${hostname}
manage_etc_hosts: true

users:
  - name: kubeadmin
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: false
    passwd: ${password_hash}
    ssh_authorized_keys:
      - ${ssh_public_key}

network:
  version: 2
  ethernets:
    enp0s3:
      dhcp4: false
      addresses:
        - ${static_ip}/24
      gateway4: ${gateway}
      nameservers:
        addresses: [8.8.8.8,1.1.1.1]
